@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #fff;
    font-family: 'Poppins', sans-serif;
}

.custom-btn {
    background: linear-gradient(101deg, #0D9DFB, #1884FF);
    border: 0px solid #116ed8;
    border-radius: 35px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: all 0.25s ease;
    width: 210px;
    position: relative;
    height: 60px;
    overflow: hidden;
    box-shadow: rgba(25, 48, 179, 0.274) 0px 2px 8px 0px;
}

.custom-btn:not(.loading):hover {
    box-shadow: rgba(9, 28, 133, 0.397) 0px 7px 29px 0px;
}

.custom-btn:not(.loading):hover .custom-icon {
    transform: rotate(-43deg);
}

.custom-btn .custom-icon {
    font-size: 1.45rem;
    position: absolute;
    left: 0px;
    pointer-events: none;
    z-index: 10;
    background: inherit;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.25s ease;
}

.custom-btn .custom-text {
    width: 130px;
    display: block;
    position: relative;
    pointer-events: none;
    transition: all 0.25s ease;
    position: absolute;
    left: 60px;
}

.custom-loading-animate {
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 100;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: all 0.25s ease;
}

.custom-loading-animate:after {
    content: "";
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-left: 3px solid #fff;
    animation: custom-loading infinite 0.8s ease 0.05s;
    position: absolute;
}

.custom-loading-animate:before {
    content: "";
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-left: 3px solid #fff;
    animation: custom-loading infinite 0.8s linear;
    position: absolute;
    opacity: 0.6;
}

.custom-btn.loading {
    width: 60px;
}

.custom-btn.loading .custom-icon {
    transform: rotate(-43deg);
    padding-bottom: 4px;
    padding-left: 3px;
}

.custom-btn.loading .custom-text {
    transform: translate(-140px);
}

.custom-btn.loading .custom-loading-animate {
    opacity: 1;
}

@keyframes custom-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}